* {
    box-sizing: content-box;
}

h1{
    font-weight: bolder;
    color: white;
    font-size: 4em;
    margin: 50px;
}

html {
    height: 100%;
    width: 100%;
}

body {

    margin: 0 auto;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: #8A0808;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    background-color: white;
    border: 20px ridge gold;
    margin: 20px;
}
